@tailwind base;
@tailwind utilities;
@tailwind components;

html{scroll-behavior:smooth}

body{
    background: linear-gradient(to bottom right, #1a1a1a, #000); 
    color:white;
}

.translate-negative-x{
    transform: translateX(-50%) !important;
}